@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body{
    animation:transition 0.75s;
}
.caraousel-caption::before{
    background-color: rgba(0, 0, 0, 2);
}
.d-block{
    width: 100%;
    height: 100vh;
}
.slideshow-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
  }
.pengantar{
    font-size: 25px;
    width: 65%;
    margin-top: 5%;
    font-family: 'Alegreya Sans', sans-serif;
}
.isi{
    margin-top: 50px;
    margin-left: 5%;
}
.subjudul::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 35px;
    background-color: rgb(235, 161, 0);
    margin-right: 10px;
  
}
.tombol{
    margin-left: 40px;
    border: none; 
    background-color: transparent;;
}
.tombol2{
    border:none;
    background-color: transparent;
    margin-left: 40px;
    border-bottom:solid 2px goldenrod;
}
.penjelasan{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-left: 10px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 23px;
}
.kandungan{
    font-size: 25px;
    margin-left: 10px;
}
.two-column-list {
    column-count: 2;
    column-gap: 10px;
    font-size: 20px;
    font-family: 'Sansita Swashed', cursive;
    margin-left: 10px;
  }
.pengolahan{
    margin-left: 50px;
    width: 80%;
    font-size: 20px;
    font-family: 'Alegreya Sans', sans-serif;
}

.kartu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}
.card{
    margin-left: 50px;
    margin-bottom: 50px;
}
.card img{
    height: 130px;
}
.m{
    display: flex; flex-direction: row; margin-left: 50px;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.fisik{
    display: flex; 
    flex-direction: row; 
    margin-left: 50px;
}
.fisik h5, .fisik h6, .fisik p{
    margin-left: 20px;
}
.fisik p{
    width: 500px;
}

.p1{
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.list{
    margin-left: 5px;
    font-family: 'Rubik', sans-serif;
    width: 70%;
}
.penjelasan2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}
li{
    display: flex;
    flex-direction: row;
}
@media  screen and (max-width: 768px){
    .isi{
        margin-left: 2%;
    }
    .m{
        flex-direction: column;
        margin-left: 10px;
    }
    .penjelasan{
        font-size: 20px;
        margin-left: 0;
        width: 90%;
    }
    .kandungan{
        margin-left:0px;
    }
    .two-column-list{
        font-size: 18px;
        margin-left: 0px;
        column-count: 1;
    }
    .m img{
        width: 90%;
    }
    .pengolahan{
        width: 90%;
        margin-left: 25px;
    }
    .card{
        margin-left: 0px;
    }
    .pengantar{
        width: 95%;
        margin-left: 5px;
    }
    .subjudul{
        font-size: 20px;
    }
    .fisik{
        flex-direction: column;
        margin-left: 5px;
    }
    .pengawetan li{
        flex-direction: column;
    }
    .pengawetan li .p1{
        font-size: 16px;
    }
    .fisik img{
        width: 90%
    }
}
@keyframes transition{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
